HTML:

<img id="cookie-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/2ChocolateChipCookies.jpg/1920px-2ChocolateChipCookies.jpg"></img>
<p id="cookie-num">You have <span id="how-many-cookies">0</span> cookies</p>

CSS:

#cookie-pic {
  width: 50px;
}
#cookie-num {
  border: 2px solid black;
  width: 50px;
  text-align: center;
  font-size: 10px;
}

/*
user-select: none;
#cookie-num:hover {
  border: 2px solid lightblue;
}
*/

JS:

var cookies = 0;
var cookiePic = document.querySelector("#cookie-pic");
var cookieText = document.querySelector("#cookie-num");
var howManyCookies = document.querySelector("#how-many-cookies")
cookiePic.onclick = function() {
  cookies = cookies + 1;
  howManyCookies.innerText = cookies;
};
