HTML:

<img id="cookie-pic" src="http://pngimg.com/uploads/cookie/cookie_PNG13656.png"></img>
<p id="cookie-num">You have 0 cookies</p>

CSS:

#cookie-pic {
  width: 200px;
}
#cookie-num {
  border: 2px solid black;
  width: 200px;
  text-align: center;
}

/*
user-select: none;
#cookie-num:hover {
  border: 2px solid lightblue;
}
*/

JS:

var cookies = 0;
var cookiePic = document.querySelector("#cookie-pic");
var cookieText = document.querySelector("#cookie-num");

