HTML:

<img id="eight-ball-pic" src="https://i5.walmartimages.com/asr/b3f4dade-aea5-466d-b9aa-14a3c818bf82_1.9a6988dd9ed990c81dcab7afc9a37834.jpeg"></img>
<p id="output"></p>

CSS:

#eight-ball-pic {
  width: 100px;
}
#output {
  width: 100px;
  text-align: center;
}

JS:

var eightBallPic = document.querySelector("#eight-ball-pic");
var output = document.querySelector("#output");
eightBallPic.onclick = function() {
  output.innerText = "hello";
}
