#myCanvas {
  border-style: solid;
  border-width: 2px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
  font-family: Helvetica;
  color: black;
  text-align: center;
  background-color: Ivory;
  font-size: 20pt
}
